<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" href="/">
      <img
        src="/img/logoVieOn.jpg"
        alt="Logo"
        style="width: 100px; height: auto;"
      />
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 18px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Rap Việt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Anh Trai "Say
            Hi"</a>
        </li>
      </ul>
      <div class="dropdown">
        <button
          style="margin-left: 5px;"
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          CRUD
        </button>
        <ul
          class="dropdown-menu"
          aria-labelledby="dropdownMenuButton1"
          style=" margin-top: 10px;"
        >
          <li><a class="dropdown-item" href="/courses/create">Đăng bài hát</a></li>
          <li><a class="dropdown-item" href="/me/stored/courses">Bài hát của tôi</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="dropdown" style="margin-left: 10px;">
        <button
          class="btn btn-secondary dropdown-toggle rounded-circle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          style="width: 40px; height: 40px; padding: 0; overflow: hidden; border-radius: 50%;"
        >
          <img
            src="/img/user.jpg"
            alt="User"
            style="width: 100%; height: 100%; object-fit: cover;"
          />
        </button>
        <ul
          class="dropdown-menu dropstart"
          style="left: -40px; margin-top: 10px;"
          aria-labelledby="dropdownMenuButton1"
        >
          <li><a class="dropdown-item" href="#">Đăng nhập</a></li>
          <li><a class="dropdown-item" href="#">Đăng ký</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>